* {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.img1 {
    width: 200px;
    float: left;
}

.botones{
    display: inline;
}

#acceder{
    width: 85px;
    color: gray;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}
#registro{
    width: 85px;
    background-color: rgb(255, 208, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#texto{
    color: white;
    background-color: black;
    border-top: 1px solid black;
}

#img2{
    height: 53vh;
    width: 100%;
    object-fit: cover;
}

.contenedor-info {
    width: 1140px;
    padding-bottom: 50px;
    margin: 20px auto;
    border-bottom: 2px solid rgb(192, 192, 192);
    display: flex;
}

.info{
    /* hace que los elementos estén en línea */
    width: 25%;
}

