* {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.superior{
    width: 90%;
    margin-bottom: ;
}

.img1 {
    width: 200px;
    float: left;
}

ul{
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 50px;
}

li:hover{
    color: black;
}

.botones{
    display: inline;
    position: absolute;
    right: 50px;
}

#acceder{
    width: 85px;
    color: gray;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}
#registro{
    width: 85px;
    background-color: rgb(255, 208, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#texto{
    color: white;
    width: 650px;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    left: 230px;
    top: 170px;
}

#texto h1{
    font-size: 4.5rem;
    margin-bottom: 30px;
}

#texto p{
    padding-right: 100px;
}

#img2{
    height: 56vh;
    width: 100%;
    object-fit: cover;
}

.contenedor-info {
    width: 1140px;
    padding-bottom: 50px;
    margin: 20px auto;
    border-bottom: 2px solid rgb(192, 192, 192);
    display: flex;
}

.info{
    /* hace que los elementos estén en línea */
    width: 25%;
}

